/* *{
    overflow: hidden;
} */
body{
    background-image: url(./pexels-cottonbro-studio-4836513.jpg);
}
.bar{
    width:3em;
    height:0.5em;background-color: rgb(83, 83, 83);
    margin-bottom: 0.2em;
    border-radius: 45px;
}

.bar:nth-child(2){
    width: 2em;
    z-index: 3;
}
#hamwrapper{
    transition: 1s  ;
    margin-top: 5em;
    width: fit-content;
    position: fixed;
    right: 2%;
    top:0%;
    z-index: 2;
}
#hamwrapper:hover .bar:nth-child(2){
    margin-left: 1%;
    display: none;

}
#hamwrapper:hover .bar:nth-child(1){
    cursor: pointer;
    background-color: rgb(124, 67, 255);
}
#hamwrapper:hover .bar:nth-child(3){
    cursor: pointer;
    background-color: rgb(124, 67, 255);
}
#hamwrapper:hover{
    transform: rotate(90deg);
}
#navDiv{
    background-color: black;
    color: violet;
    height: 30vh;
    width: 20vmax;
    padding-top: 8em;
    font-size: 2rem;
    top: 1%;
    right: -100%;
    position: fixed;
    
}
.navDivnew{
    background-color: black;
    color: violet;
    height: 30vh;
    width: 20vmax;
    left: 80%;
    padding-top: 8em;
    font-size: 2rem;
    padding-left:1em;
    position: fixed; 
}
#navDiv ul li {
    list-style: none;
    transition: 1s;
}
#navDiv ul li:hover{
   scale: 1.2 !important;
   color: purple;
   cursor: pointer;
}
#wrapper{
    position: relative;
    width: 20vmax;
    display: flex;
    float: right;
    border-radius: 3em;

}
h1{
    font-size: 19em;
    color: rgb(192, 69, 69);
}

#sect1{
     position: relative;
     width:90vw;
     height: 100vh;
     overflow: hidden;
     text-align: center;
}


.changebg{

    background-color: rgba(255, 50, 50, 0.548);
    height: 3em;
    width: 6em;
    border-radius: 45px;
    padding-top: 0.4em;
    justify-content: center;
    
}